﻿@-webkit-keyframes ff {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes ee {
    0% {
        transform: translateY(20px);
    }

    40% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    100% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
}

@-webkit-keyframes dd {
    0% {
        transform: translateY(0px)
    }

    70% {
        transform: translateY(-5px)
    }

    80% {
        transform: translateY(2px)
    }

    100% {
        transform: translateY(0px)
    }
}

@-webkit-keyframes pp {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.popup-overflow::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.popup-overflow::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ccc;
}

.popup-overflow::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

* {
    box-sizing: border-box;
}

blockquote,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-width: 310px;
    overflow-x: hidden;
    overflow-y: overlay;
    font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
    font-size: 12px;
    width: 200px;
    border-radius: 5px;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

/* https://www.peisebiao.com/info/peise2.php 色卡参考#245*/
@media (prefers-color-scheme: dark) {

    body {
        background-color: #2f373f !important;
    }

    .Ucenter,
    #pop-push-lives>a>center,
    .mdui-panel-item-header>div,
    #followGroupsBtn,
    .mdui-textfield-input {
        color: white !important;
    }

    body>div.container.mdui-appbar.mdui-appbar-fixed.mdui-appbar-scroll-hide.mdui-headroom>div.top-fixed.mdui-hoverable>div.head,
    body>div.container.mdui-appbar.mdui-appbar-fixed.mdui-appbar-scroll-hide.mdui-headroom>div.top-fixed.mdui-hoverable>div.mdui-row-xs-2.mdui-row-gapless,
    #mainTabs,
    #tabPushList,
    #tabGroupPushList,
    #tabLives,
    #tabSpecial,
    .mdui-panel-item-body,
    .mdui-panel-item-header,
    .mdui-menu-item {
        background: #1d242b !important;
        color: #0d93e6 !important;
    }

    .enabled {
        background: #5a5a5a;
    }

    ::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(101, 101, 101, 0.861);
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(192, 192, 192);
        border-radius: 3px;
    }


}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f6f2f2 !important;
    }

    ::-webkit-scrollbar {
        background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }


}

.container {
    margin: 0;
    padding: 0;
}

.grouptitle {
    font-weight: bold;
    color: white;
    background-color: #93a085;
    border-radius: 5px 5px 0 0;
    margin: 0 0 4px;
    padding: 4px 15px;
}

a {
    text-decoration: none;
}

.container>.head {
    font-weight: normal;
    background-color: #F6F6F6;
}

.container .head .item {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.17), 0 2px 0 0 rgba(0, 0, 0, 0.13);
    border-bottom: 0;
}

.container .item {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.container>.body {
    max-height: 295px;
    overflow: auto;
}

.container>.top-fixed {
    /* height: 27px; */
    transition-property: all;
    transition-duration: .5s;
    overflow: hidden;
    user-select: none;
}

.container:hover {
    animation: cc 0.5s easy-in 0;
    -webkit-animation: cc 0.5s easy-in 0;
}

.container>.setting-hidden {
    height: 106px;
}

.container .head .item .co.title {
    min-width: calc(100% - 152px);
    max-width: calc(100% - 152px);
}

.pop-title {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .item .col {
    display: block;
    float: left;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .item .col.action {
    height: 40px;
}

.container .item .col.format {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

.container .item .col.size {
    text-align: center;
}

.container .item .col.action>* {
    padding: 0 2px;
}

.icon-download {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url(../images/download.svg);
    opacity: 0.7;
}

.action-btn {
    display: inline-block;
    height: 40px;
    width: 28px;
}

.container .item>* {
    line-height: 26px;
    height: 26px;
    margin: 0px 5px;
}

.pop-empty {
    text-align: center;
    border-bottom: 0;
    margin-top: 70px;
    color: #aec2db;
}

.pop-hide {
    display: none;
}

.odh-definition,
.pop-live,
.odh-sentence {
    display: block;
    background-color: #fefefe;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 2px;
    margin-top: 1px;
    word-wrap: break-word;
}

.comment-label {
    color: red;
    font-weight: bold;
    font-size: 0;
    cursor: pointer;
}

.top-fixed>.head>.item>.pop-title>.comment-label>.letter {
    line-height: 26px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    display: inline-block;
}

.top-fixed>.head>.item>.pop-title>.comment-label:hover :nth-child(1) {
    animation: dd .4s .2s linear 1;
}

.top-fixed>.head>.item>.pop-title>.comment-label:hover :nth-child(2) {
    animation: dd .4s .6s linear 1;
}

.top-fixed>.head>.item>.pop-title>.comment-label:hover :nth-child(3) {
    animation: dd .73s 1s ease-out 1;
}

ul {
    margin: 0px 5px;
    cursor: pointer;
    list-style: none;
}

.odh-definition:hover {
    background-color: rgb(214, 154, 204);
}

span.go-live {
    float: right;
    background-color: #d69acc !important;
    cursor: pointer;
    text-transform: lowercase;
    font-size: 0.9em;
    margin-right: 2px;
    padding: 2px 4px;
    color: white;
    background-color: #0d47a1;
    border-radius: 3px;
}

.top-fixed {
    background-color: #f6f2f2;
    z-index: 999;
    width: 100%;
}

.pop-push {
    /*无数据时增加最小高度*/
    min-height: 30px;
    line-height: 30px;
}

.pop-push>.inner {
    z-index: 1;
    height: 150px;
    position: relative;
    transform: scale(0.97, 0.97);
    -moz-transform: scale(0.97, 0.97);
    -webkit-transform: scale(0.97, 0.97);
    -o-transform: scale(0.97, 0.97);
    transition-duration: .5s;
}

.pop-push>.inner:hover {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
}

.pop-push>.inner>.l>a {
    display: block;
    height: 150px;
    border-radius: 3px;
    overflow: hidden;
}

.pop-push>.inner>.l>a>img {
    filter: brightness(0.4);
    transition-duration: .5s;
}

.pop-push>.inner:hover>.l>a>img {
    filter: brightness(0.8);
}

.pop-push>.inner>.r {
    z-index: 1;
    position: absolute;
    left: 10px;
    bottom: 5px;
    right: 10px;
    transition-duration: .5s;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pop-push>.inner>.r>.info {
    margin-top: 0;
    line-height: 15px;
}

.pop-push>.inner>.r>a {
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
    padding: 5px;
    transition-duration: .5s;
}

.pop-push>.inner>.r:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.pop-push>.inner>.r:hover>a {
    color: white;
}

.pop-push :before {
    content: '';
}

.pop-common {
    background-color: #f6f2f2;
    ;
    height: 28px;
}

.push-msg {
    margin-top: 100px;
}

.dispLimit {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*按钮大小位置*/

.toTop-bg-color {
    background-color: #0000008c !important;
}

.toTop-bg-color i {
    color: white;
}

.PushListMode {
    bottom: 55px !important;
    right: 16px;
}

.PushListMode.active {
    right: calc(50% - 25px);
    bottom: 55px;
    animation: pp 4.5s 0s infinite cubic-bezier(1, 1, 1, 1);
    -webkit-animation: pp 4.5s 0s infinite cubic-bezier(1, 1, 1, 1);
}

.r {
    /* float: right;*/
    position: relative;
    /* border: solid 1px red; */
    /*position: absolute;
    margin-left: 45%;*/
    /*height: 100px;*/
    /* width: 30%; */
    overflow: hidden;
    font-size: 12px;
}

.r>a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #7b68ee;
    padding-left: 1px;
}

.mdui-checkbox.popupLater {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    background-color: #ffffffa6;
    width: 18px;
    height: 18px;
    padding: 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#SubLive .popupLater {
    display: none;
}

.popupLater>.mdui-checkbox-icon {
    top: 0;
}

.l {
    /*width: 45%;
    float: left;*/
    position: relative;
    /*height: 100px;*/
    /*position: absolute;*/
    /* border: solid 1px red; */
    overflow: hidden;
    box-sizing: border-box;
}

.l img {
    border-radius: 4px;
}

.inner {
    /* border: solid 1px blue; */
    /*top: 100px;
    bottom: 100px;
    height: 95px;*/
    /* height: 312px; */
    background-color: #fefefe;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 2.5px 0 2.5px 0;
}

.pop-push-list {
    background-color: azure;
    /* border-color: red; */
    padding: 4px 4px 4px 4px;
    border: 1px;
    border-style: solid;
    border-spacing: 2px;
    border-width: 1px 1px 1px 1px;
}

.preview {
    height: auto;
    /* width: auto; */
    width: 100%;
}

.r .avatar {
    border-radius: 50%;
    height: auto;
    width: 100%;
    /* width: 10%; */
}

.r .time {
    margin-left: 8px;
    color: #aaa;
}

.r .info {
    padding-left: 8px;
    margin-top: 5px;
}

.r .info a {
    color: whitesmoke;
}

.push_end {
    color: #999;
    text-align: center;
    line-height: 200%;
}

#update-box {
    padding: 0 5px;
    height: 26px;
    cursor: pointer;
    transform: translate(-18px, -5px) scale(.8);
    display: none;
    position: absolute;
}

#update-box>.update-icon {
    width: 14px;
    background-color: rgb(255 99 214);
    font-size: 10px;
    border-radius: 50% 50%;
    line-height: 14px;
    text-align: center;
    color: white;
    margin-right: 3px;
    display: inline-block;
    animation: ee 1s 0s cubic-bezier(0.14, 0.56, 0.75, 1.26);
    -webkit-animation: ee 1s 0s cubic-bezier(0.14, 0.56, 0.75, 1.26);
}

#update-box:hover>.update-icon {
    animation-duration: 0s;
}

#update-box:hover>.update-letter {
    opacity: 1;
}

#update-box>.update-letter {
    opacity: 0;
    font-size: 12px;
    transition-duration: .3s;
    animation: ff 1s 1s cubic-bezier(1, 0, 1, 1);
    -webkit-animation: ff 1s 1s cubic-bezier(1, 0, 1, 1);
}